<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B008A981E79DABA0041EABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B008AAC1E79DABA0041EABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B008AB71E79DABA0041EABF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
